/* Background */
.custom-bg {
  position: fixed;
  top: 0;
  z-index: -2;
  min-height: 100vh;
  width: 100vw;
  background-color: #000000;
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
}

/* Imagenes con la misma altura */
.same-height {
  height: 200px;
  object-fit: cover;
}

/* Glass Efect */
.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Titulo centrado */
.margin-title {
  margin-left: 150px;
  text-align: center;
  color: #fff;
}