.green { 
  color: green; 
  font-weight: bold; 
}

.orange { 
  color: orange; 
  font-weight: bold; 
}

.red { 
  color: red; 
  font-weight: bold; 
}

.custom-bg {
  position: fixed;
  top: 0;
  z-index: -2;
  min-height: 100vh;
  width: 100vw;
  background-color: #000000;
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
}

.same-height {
  height: 200px;
  object-fit: cover;
}